.App {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  
}

.calculator{
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  padding: 15px;
  outline: 20px solid black;
  background-color: aqua;
}

#display{
  grid-column: span 4;
  height: 65px;
  outline: 1px solid black;
  background-color: black;
  color: aliceblue;
  text-align: right;
  font-size: 2rem;
  vertical-align: middle;
  overflow-wrap: break-word;
}

#clear{
  grid-column: span 2;
  background-color: rgb(172,57,57);
  color: white;
  font-size: 2rem;
  outline: 1px solid black;
}

#equals{
  grid-row: span 2;
  outline: 1px solid black;
  background-color: rgb(0,68,102);
  color: white;
  font-size: 2rem;
}

#zero{
  grid-column: span 2;
}

.decimal, .number, .operator{
  height: 65px;
  color: white;
  outline: 1px solid black;
  background-color: #4d4d4d;
  font-size: 2rem;
}

.operator{
  background-color: rgb(102,102,102);
}